In [1]:
import pandas as pd
file_path = "Sales_Data_Challenges.csv" 
sales_data = pd.read_csv(file_path)
print(sales_data.head())
sales_data['Revenue'] = pd.to_numeric(sales_data['Revenue'], errors='coerce')
sales_data['Price'] = pd.to_numeric(sales_data['Price'], errors='coerce')
sales_data['Discount'] = pd.to_numeric(sales_data['Discount'], errors='coerce')
sales_data['Quantity'] = pd.to_numeric(sales_data['Quantity'], errors='coerce')

    OrderID    Category      City PaymentMethod    SaleDate       Price  \
0  ORD-7778   Furniture   Houston    Debit Card  2024-06-24  610.101338
1  ORD-6791   Furniture   Chicago           NaN  2024-05-02  714.329017
2  ORD-6138  Stationery  New York   Credit Card  2024-01-07  761.840755
3  ORD-8291   Furniture  New York   Credit Card  2024-06-27  564.990275
4  ORD-1314  Appliances   Houston   Credit Card  2024-02-09  771.496793

   Quantity  Discount   Revenue
0       1.0        20    488.08
1      30.0        48  11143.53
2      46.0        18  28736.63
3      37.0        18  17141.80
4      30.0        11  20598.96

In [15]:
city_revenue = sales_data.groupby("City")["Revenue"].sum().reset_index()
print("Total Revenue by City:\n", city_revenue)

Total Revenue by City:
           City     Revenue
0      Chicago  1459850.70
1      Houston  1583426.63
2  Los Angeles  1735146.79
3     New York  1120128.43
4      Phoenix  1564476.88

In [21]:
category_revenue = sales_data.groupby("Category")["Revenue"].sum().reset_index()
highest_sales_category = category_revenue.loc[category_revenue["Revenue"].idxmax()]
print("\nCategory with Highest Sales:", highest_sales_category)

Category with Highest Sales: Category      Clothing
Revenue     1604157.72
Name: 1, dtype: object

In [25]:
discrepancies = sales_data[
    (sales_data['Discount'] > 50) | 
    (sales_data['Price'].isnull()) | 
    (sales_data['Price'] == 0)
]
print("\nProducts with Frequent Sales Discrepancies:")
print(discrepancies[['OrderID', 'Category', 'Price', 'Discount']])

Products with Frequent Sales Discrepancies:
      OrderID     Category  Price  Discount
16   ORD-8700    Furniture    NaN         4
55   ORD-8046  Electronics    NaN        42
59   ORD-8867  Electronics    NaN         8
114  ORD-1524   Appliances    NaN         2
118  ORD-2582     Clothing    NaN        49
137  ORD-1133  Electronics    NaN         2
144  ORD-7323   Stationery    NaN        26
179  ORD-1001  Electronics    NaN         2
201  ORD-1415   Stationery    NaN        20
211  ORD-7002   Stationery    NaN        27
213  ORD-4362   Appliances    NaN        22
222  ORD-2644     Clothing    NaN         2
223  ORD-5111  Electronics    NaN        10
231  ORD-7965     Clothing    NaN        12
248  ORD-3899    Furniture    NaN        25
249  ORD-2681     Clothing    NaN        35
294  ORD-6078     Clothing    NaN        49
319  ORD-7019  Electronics    NaN        20
347  ORD-7423    Furniture    NaN        30
358  ORD-4530     Clothing    NaN        44
362  ORD-9956     Clothing    NaN        20
370  ORD-1483  Electronics    NaN        14
378  ORD-9731    Furniture    NaN         2
401  ORD-4089  Electronics    NaN         7
481  ORD-1759  Electronics    NaN        39
487  ORD-7326   Appliances    NaN         4
500  ORD-6191    Furniture    NaN        39
508  ORD-9994    Furniture    NaN         9
708  ORD-4153  Electronics    NaN        16
712  ORD-1354   Appliances    NaN        36
724  ORD-3559  Electronics    NaN        49
796  ORD-7899   Stationery    NaN        44
797  ORD-1476   Appliances    NaN        44
805  ORD-4873  Electronics    NaN        32
836  ORD-1189   Appliances    NaN         0
885  ORD-5909   Appliances    NaN        22
932  ORD-2197     Clothing    NaN         7
945  ORD-7064     Clothing    NaN        30
978  ORD-1516     Clothing    NaN        39

In [9]:
payment_method_preference = sales_data['PaymentMethod'].value_counts().reset_index()
payment_method_preference.columns = ['PaymentMethod', 'Count']
print("\nMost Preferred Payment Method:")
print(payment_method_preference)

Most Preferred Payment Method:
    PaymentMethod  Count
0  Online Payment    205
1      Debit Card    200
2            Cash    198
3     Credit Card    179

In [29]:
city_payment_bias = sales_data.groupby(['City', 'PaymentMethod']).size().reset_index(name='Count')
city_payment_bias = city_payment_bias.pivot(index='City', columns='PaymentMethod', values='Count').fillna(0)
print("\nCity-specific Payment Method Preferences:")
print(city_payment_bias)

City-specific Payment Method Preferences:
PaymentMethod  Cash  Credit Card  Debit Card  Online Payment
City
Chicago          45           34          43              29
Houston          39           41          42              53
Los Angeles      46           31          46              39
New York         28           34          30              41
Phoenix          40           39          39              43